:root{
    --mainColor--:blue;
    --secondaryColor--:red;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    color: black;
    background-color: rgb(247, 243, 243);
}
p{
    line-height: 2.0;
}
i{
    font-size: 18px;
    cursor: pointer;
}
.main-btn{
    background-color: var(--secondaryColor--);
    color: white;
    font-size: 18px;
    border-color: var(--secondaryColor--);
    border: solid 1px red;
    padding: 8px 25px 8px 25px;
    border-radius: 4px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
}

/* navBar */
.navbar{
    direction: rtl;
    }

.navbar .navbar-nav_1{
    border-right: solid 2px gray;
}

/* @media  {
    
} */

.navbar .navbar-brand{
    margin-left: 20px;
    margin-right: 60px;
    width: 50px;
    height: 50px;
}
.navbar .navbar-brand img{
    width: 100%;
    height: 100%;
}
.navbar .collapse_1 .nav-link_1{
    padding-right: 30px;
}
.navbar .collapse_1 .nav-link_1.active{
    color: var(--mainColor--);
    position: relative;

}
.navbar .collapse_1 .nav-link_1.active::after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 40%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    background-color: var(--mainColor--);
    border-radius: 100%;
}

/* Register  */
.navbar .register {
    color: var(--mainColor--);
    border: solid 2px var(--mainColor--);
    border-radius: 25px 25px 25px 25px;
    padding: 5px 40px 3px 40px ;
    margin-left: 25px;
}
.navbar-nav .nav-item{
    padding-right: 30px ;
}
.dropdown-toggle::after
{
    display: none;
}
.dropdown-toggle{
    animation: none;
    background-color: transparent;
    border: none;
    color: black;
}
.dropdown-toggle:hover
{
    background-color: transparent;
    color: black;
    outline: none;
}

button:focus:not(:focus-visible){
    outline: none;
    box-shadow: none;
}
.navbar .list-drop{
    border-radius: 0;
   padding: 10px;
   position: relative;
   border: none;
}

.navbar .list-drop::after{
        position: absolute;
        content: '';
        left: 2%;
        top: -45px;
        border-style: solid;
    border-bottom: 30px solid #fff;
    border-right: solid transparent 15px;
    border-left: solid transparent 15px;
    border-top: solid transparent 15px;
    }
 .navbar .dropdown-menu input{
    border-radius: 10px;
    width: 320px;
        height: 35px;
    
}
.navbar .dropdown-menu input::placeholder{
    padding-right: 10px;
}

.navbar .dropdown-menu form button{
    background-color: blue;
    color: white;
    display: block;
}

.navbar .icon-login{
    color: white;
    background-color: #302b2b;
    padding: 8px;
    border-radius: 4px;
    font-size: 18px;
    /* margin:0px -10px 0 -4px;; */
}
@media (max-width :992px) {
    .navbar .collapse_1 .nav-link_1.active::after{
        position: absolute;
        content: '';
        bottom: 0px;
        left: 0%;
        transform: translateX(0%);
        height: 0px;
        width: 0px;
        background-color:transparent;
        border-radius:0%;
    }
    .navbar .navbar-nav_1{
        border-right: none;
    }
    
}
@media (max-width :776px) {
    .navbar #icon-login_2{
        margin-right: -20px;
        margin-top: 5px !important;
    }
    .navbar #icon-login_1{
        margin-right: 8px;
        margin-bottom: -9px !important;
    }
}

/* navbar */

/* slide  carousel*/
.main-slide{
  position: relative;
}
.main-slide .text-slider{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -60%)
}
.main-slide .text-slider h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 3px 5px 5px black;
}
.main-slide .carousel img{
    height: 92vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.main-slide .carousel .section-slide{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50% );
    width: 1000px;
     z-index: 1; 
}

.main-slide .section-slide .owl-carousel img{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    transition: .3s;
}
.main-slide .owl-carousel.owl-drag .owl-item{
    background: linear-gradient( #fdfdfd 60% ,#cfb772 100%);
    border-radius: 10px;
    padding: 10px;
    transition: all.5s;
}
.main-slide .owl-carousel.owl-drag .owl-item:hover{
    background: linear-gradient( #fff 40% ,#fff 100%);
}
.main-slide .section-slide .owl-carousel h5{
    position: absolute; 
    bottom: 5px;
    left: 50%;
    transform: translateX(-56%);
    color:black;
    transition: .5s;
}
.main-slide .owl-carousel.owl-drag .owl-item:hover{
    border: solid blue 3px;
}
.main-slide .section-slide .owl-cards{
height: 150px;
}
.main-slide .owl-carousel .owl-dots{
    text-align: center;
}
.main-slide .owl-carousel .owl-nav button.owl-next,.main-slide .owl-carousel .owl-nav button.owl-prev,.main-slide .owl-carousel button.owl-dot{
    background-color: #000000a1;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin: 7px;
}
.main-slide .owl-carousel .owl-nav button.owl-next,.main-slide .owl-carousel .owl-nav button.owl-prev,.main-slide .owl-carousel button.owl-dot.active{
    background-color: var(--mainColor--);
   
}
@media (max-width :575px) {
  
    .service .text-center{
        display: block;
    }
}

/* slide  carousel*/

/* service */
.service .col-lg-3{
    width: 20% !important;
}
.service .container{
    padding-left: 70px;
    padding-right:70px;
}
.service .card{
    /* margin-right: 10px;
    margin-left: 5px; */
    background-color: white;
    transition: .5s;
    border: solid #202529 3px;
    border-radius: 10px;
    cursor: pointer;
    height: 215px;
}
.service .card:hover{
    border: solid var(--mainColor--) 2px;
}

.service .card .card-img-overlay h2{
    position: absolute; 
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #202529;
}
.service .card img{
    height: 83%;
    padding: 20px;
}

.service .card .card-img-overlay{
transition: .5s;
   }
.service .card .card-img-overlay:hover{
 box-shadow: 8px 8px 0px  var(--mainColor--);   
}
.main-text_1{
    text-align: center;
    margin: 150px 0 25px 0;
    color: var(--mainColor--);
}
@media (max-width :991px) {
    .service .col-lg-3{
        width: 25% !important;
    }
    .service .container{
        padding-left: 0px;
        padding-right:0px;
    }
}
@media (max-width :776px) {
    .service .col-lg-3{
        width: 33% !important;
    }
    .service .container{
        padding-left: 0px;
        padding-right:0px;
    }
}
    @media (max-width :575px) {
        .service .col-lg-3{
            width: 100% !important;
        }
        .service .container{
            padding-left: 8px;
            padding-right:8px;
        }
}
/* service */

/* footer */
footer{
margin-top: 100px;
}

footer form{
    /* width: 70%; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
footer form .email
{
    text-align: center;
    background-color: white;
    color: black;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
footer .a-facebook-f{
    color: white;
    background-color: #3333ab;
    padding: 7px;
    padding-right: 8px;
}
footer .fa-twitter{
    color: white;
    background-color: #6798e1;
    padding: 7px;
    padding-right: 8px;
}
footer .fa-instagram {
    color: white;
    background-color: #6798e1;
    padding: 7px;
    padding-right: 8px;  
}

@media (max-width :992px) {
    footer h6.how-we{
    margin-left: 140px;
    }
    footer h6{
        text-align: center;
        } 
    footer p{
            text-align: center;
        }
    footer .soical-mediea{
        text-align: center;
    } 
    footer img{
        margin-right: 130px;    
    }
    footer p.pagra-we{
        margin-left: 130px;
    }
}
@media (max-width :776px) {
    footer img{
        margin-right: 45px;    
    }
    footer .soical-mediea img{
        width: 27px;
        margin-right: 10px;
    }
}
@media (max-width :575px) {
    footer img{
        margin-right: -40px;    
    }
    footer p.pagra-we{
        margin-left: 100px;
    }
}
.soical-mediea img{
    width: 33px;
    margin-right: 7px;
    
}
/* footer */

/* basket */
.basket-page .row_basket{
    border-bottom:solid 1px rgb(194, 186, 186);
}
@media (max-width :776px) {
    .basket-page  .col-lg-3{
    text-align: center;
    width: 50%;
    }
    .basket-page .x-delete{
        margin-right: 45px;
    }
    
}
/* .basket-page .details .wrapper{
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
background-color: rgb(207, 204, 204);
margin-bottom: 16px;
margin-top: 13px;
padding-bottom: 8px;
padding-top: 6px;
width: 180px;
}

.basket-page .details .wrapper span{
 
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
} */
.basket-page .details .wrapper span.num{
    font-size: 16px;
    pointer-events: none;
}

.basket-page .details h6{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}
.basket-page .details .table-img{
    width: 100px;
} 
.basket-page .details img{
    width: 100%;
}

.basket-page .finaly-total{
    justify-content: space-evenly;
    padding-left: 60px;
    padding-top: 0px;
    align-items: center;
}
 .basket-page .finaly-total .go-info .btn_1
{
    padding: 4px 23px 4px 31px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--mainColor--);
    color: white;


}

.basket-page .finaly-total .go-info .btn_2{
    padding: 4px 23px 4px 31px;
    background-color: gray;
    border-color: gray;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: white;


}

 .basket-page .finaly-total .go-info .btn_1:hover{
    background-color: var(--mainColor--);
    color: white;
}
.basket-page .finaly-total .go-info .btn_2:hover{
    color: white;
}
/* basket */

/* page form */
.register-page{
background-color: rgb(241, 238, 233);
padding-top: 100px; 

}
 .register-page {
    text-align: center;
    margin: auto;
    width: 40%;
    background-color: white;
    padding: 30px 80px 30px 80px;
    border-radius: 20px;
    box-shadow: 1px 3px 4px var(--secondaryColor--);
    direction: rtl;

 }
 
 

.register-page input{
    direction: rtl;
    width: 100%;
    height: 37px;
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    transition: .5s;

}
.register-page input::placeholder{
   text-align: start;
}
.register-page input:focus{
        outline: none;

}
.register-page form .register-phone{
    display: none;
}
.register-page form i{
    font-size: 60px;
}   

.register-page  select{
    width: 100%;
    direction: rtl;
    margin-bottom: 40px;
    height: 35px;
    border: none;
    border: 1px solid black;
    border-radius: 4px;
}
.register-page form p{
    text-align: start;
}
.register-page .main-btn{
    width: 160px;
    height: 42px;
}
 
.main-lgin{
    margin-top: 110px;
   
}
/* page-form */




/* page_2 */

.type-dvice h3{
    color: var(--mainColor--);
    font-size: 34px;
}
.type-dvice .dropdown .dropdown-toggle{
    color: black;
    background-color: white;
    box-shadow: 0px 1px 2px black;
}
.type-dvice .dropdown .dropdown-menu li{
    margin-left: 100%;
}

.type-dvice .dropdown .dropdown-item{
background-color: transparent;
color: black;    
}
.type-dvice .dropdown .dropdown-item:focus{
    background-color: transparent;
}
.category .card{
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 45px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
 }
 
.category .card p{
     line-height: .5;
     font-size: 18px;
 }
 .category .card .card-title i{
    margin-right: 120px;
}
.category .card img{
    width: 310px;
    height: 210px;
    
    }
.category .card:hover{
    box-shadow: 5px 5px 5px  var(--mainColor--);
}
.category .card .card-body i{
   background-color: var(--secondaryColor--);
   border-radius: 50%;
   padding: 7px;
   padding-top: 9px;
   color: white;
}
.category .category .list{
    margin-bottom: 100px;
}
.category .page_number{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 6px;
    padding: 2px 0 2px 0;
    box-shadow: 2px 2px 3px blue;
}
.category .page_number button{
    width: 37px;
    height: 40px;
    appearance: none;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: .5s;
    color: #000000  ;
    font-size: 18px;
    background-color: transparent;
    
}
.category .page_number button:hover{
    background-color: var(--mainColor--);
    color: #fff;
    border-radius: 4px;
}
.category .page_number button.active{
    background-color: var(--mainColor--);
    color: #fff;
    border-radius: 4px;
}
@media (max-width :991px) {
    .category .card img{
        width: 100%;
}
}


/* page 2 */




/* page 3 */



.information {

    margin-top: 80px;
    }
    .information img{
    
        border-radius: 10px;
    
    }
    .information .info-text span{
        font-size: 20px;
    }

    .information .img-click{
        transition: .5s;
     }   
 .information .img-click:hover{
    filter: grayscale();
 }    
    .information .info-text form button{
        background-color: var(--mainColor--);
        border-radius: 10px;
        padding: 9px 60px 7px 66px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
    .information .wrapper{
        display: inline-block;
        background-color: #fff;
        border-radius: 12px;
    background-color: rgb(207, 204, 204);
}
     .information .wrapper span{

        font-size: 25px;
        font-weight: 600;
        padding-right: 22px;
        padding-left: 22px;
        cursor: pointer;
    }
   .information .wrapper span.num{
        font-size: 25px;
        pointer-events: none;
    
    }
    .information .info-img i{
       color: var(--secondaryColor--);
       font-size: 30px;
    
    }
    .slide-parts h3{
        color: var(--mainColor--);
    }
    .slide-parts .card{
       border-radius: 40px;
       overflow: hidden;
       transition: .5s;
       cursor: pointer;
       margin-top: 20px;
        height: 260px;
    }
    .slide-parts .card img{
     height: 100%;
     }
   
    .slide-parts .card:hover{
        transform: translateY(-20px);
        box-shadow: 0px 5px 5px 0px black;

     }
    .slide-parts .card p{
        line-height: .5;
        font-size: 18px;
    }
    .information .info-img .owl-carousel.owl-drag .owl-item img{
        height: 100px;
    }
    .slide-parts .owl-carousel .owl-nav button.owl-next{
        position: absolute;
        top: 15%;
        right: -40px;
        font-size: 100px;
       
        height: 45px;
        color: #3a3333;
    }
    .slide-parts .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        top: 15%;
        left: -40px;
        font-size: 100px;
        height: 45px;
        color: #3a3333;
    }
    .slide-parts .owl-carousel .owl-nav.disabled{
        display: inline-block;   
    }
    
.information .main-img{
    position: relative;
}

.information .main-img .exsit{
    position: absolute;
    left: 3%;
    top: 3%;
    display: none;
    cursor: pointer;
}
.information .info-img .owl-nav{
    display: none;
}

@media (max-width :776px) {
    .slide-parts .card{ 
         height: 340px;
     }
}

/* page 3 */



/* page_detailes */

.details_product .col-lg-3{
    width: 20% !important;
}
.details_product .container{
    padding-left: 70px;
    padding-right:70px;
}
.details_product .card{
    /* margin-right: 10px;
    margin-left: 5px; */
    background-color: white;
    transition: .5s;
    border: solid #202529 3px;
    border-radius: 10px;
    cursor: pointer;
    height: 215px;
}
.details_product .card:hover{
    border: solid var(--mainColor--) 2px;
}

.details_product .card .card-img-overlay h2{
    position: absolute; 
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #202529;
}
.details_product .card img{
    height: 83%;
    padding: 20px;
}

.details_product .card .card-img-overlay{
transition: .5s;
   }
.details_product .card .card-img-overlay:hover{
 box-shadow: 8px 8px 0px  var(--mainColor--);   
}
.main-text_1{
    text-align: center;
    margin: 150px 0 25px 0;
    color: var(--mainColor--);
}
@media (max-width :991px) {
    .details_product .col-lg-3{
        width: 25% !important;
    }
    .details_product .container{
        padding-left: 0px;
        padding-right:0px;
    }
}
@media (max-width :776px) {
    .details_product .col-lg-3{
        width: 33% !important;
    }
    .details_product .container{
        padding-left: 0px;
        padding-right:0px;
    }
}
    @media (max-width :575px) {
        .details_product .col-lg-3{
            width: 100% !important;
        }
        .details_product .container{
            padding-left: 8px;
            padding-right:8px;
        }
}


/* page_detailes */